block variables
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    meta(name="description", content="Build a simple single page web app for Covid-19 Estimator challenge.")
    title #{title} | #BuildForSDG Challenge 2020
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    link(rel="stylesheet" href="/styles.css")
  body
    main
      block layout-content

    footer
      div.container
        span.text-muted &copy; 2020 - By Patrick PIN.

  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
